{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="c-band section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5 mb-lg-0">
        <img data-aos="fade-up" class="img-fluid w-100" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-7 align-self-center text-md-left">
        <div class="content">
          <h2 class="subheading text-white font-weight-bold mb-10">{{ .title | markdownify }}</h2>
          <p class="text-white">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
